@tailwind base;
@tailwind components;
@tailwind utilities;

.backAbout {
    background-image: url("./assets/images/about/about-bg.svg");
    background-repeat: repeat-y;
    background-position: bottom;
    
}

.backAbout2 {
    background-image: url("./assets/images/about/office_banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
}


body{
    font-size : 18px;
    line-height: 28px;
}

.companybg{
    background-image: url("./assets/images/about/feature-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
}